.main {
	padding: 38px 0;
	min-height: 100%;
	width: 100%;
	background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
  background-size: auto;
	background-size: 20px 20px;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	background-color: #f6f1ff;
}
.btn {
	background-color: #D81B60;
	color: white;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
	margin: 10px 5px;
}
#smoke {
	position: absolute;
	z-index: 3;
	width: 1px;
	height: 160px;
	left: 50%;
	bottom: 30px;
}

#smoke span { 
  display: block;
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left:-20px;
	height: 0px;
	width: 0px;
	border: 35px solid #fcaeca;
	border-radius: 35px;
	left: -14px;
	opacity: 0;
	transform: scale(0.2);
}

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1.5) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1.5) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }